
    <div fxLayout="row">
      <!-- Image and text -->
      <div fxLayout="column" class="column"> 
        <nav  class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
            <img src="https://image.shutterstock.com/z/stock-vector-vector-abstract-arrow-logo-icon-isolated-point-logo-web-abstract-direction-geometric-triangles-251840218.jpg"
             width="100" height="30" class="d-inline-block align-top" alt="">
            </a>
        </nav> 
      </div>
      <div fxLayout="column" class="column1" style="min-height: 50px;" > 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="navbar-brand" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">About </a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="#">Products </a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="#">Contect Us </a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="#">FAQ </a>
                  </li>
                  <i class="fa-linkedin-in"></i>
              </ul>
              <button type="button" routerLink='./login' class="btn btn-primary">Login</button>
            </div>
          </nav>
      </div>
      
    </div>