
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/james-farmer-dining-room-1604069144.jpg?crop=1.00xw:0.752xh;0,0.0913xh&resize=980:*')">
            <div class=" col-md-12 divleft-top text-CSS">
                <h3 style="font-size: 35px;">The Best Seasional Products</h3>
                <p>
                    Solutions for the Asphalt Industry 
                </p>

            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://media.architecturaldigest.com/photos/587556902aa9cb7b7054c68d/master/w_1600%2Cc_limit/guest-rooms-0716-AD-GAMB12-01.JPG')">
            <div class="col-md-12 divleft-top text-CSS">
                <h3 style="font-size: 35px;">Decorator Your Interior</h3>
                <p>
                    Solutions for the Asphalt Industry 
                </p>

            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item"
            style="background-image: url('https://www.bonfiglioli.com/india/images/Asphalt/image-thumb__38736__slider/istock-466386521.jpeg')">
            <div class="col-md-12 divleft-top text-CSS">
                <h3 style="font-size: 35px;">The market is shifting to more greenfield expressways</h3>
                <p>
                    Solutions for the Asphalt Industry 
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



