
.carousel-item {
/* height: 100vh; */
min-height: 550px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.text-CSS {
    
    color: #fbff04!important;
    padding-top: 240px;
    padding-left: 110px;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
}