<!-- Footer -->
<footer class="bg-dark text-white setData">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="text-uppercase content" >Let's give a try</h3>
          <h5>Get in touch on any of these platform.</h5>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
          <h5>Links of social media </h5>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill" style="margin-left: 7px; margin-right: 7px;"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <hr style="border-color: white;"> 
  <!-- Grid container -->
  <div class="row">
    <div class="col-md-4 tect-center p-3" style="margin-left: 0px;">
      ©{{currentYear}}Copyright:
     <a class="text-white" href="https://www.google.com/">To find anything</a>
    </div>
    <div class="col-md-3"></div>
    <div class=" col-md-5 text-center p-3" id="footerRef">
      <div class="row">
        <div class="col-md-2">
          <p>Our Team</p>
        </div>
        <div class="col-md-2">
          <a >About</a>
        </div>
        <div class="col-md-2">
          <a href="#">Contect Us</a>
        </div>
        <div class="col-md-2">
          <a href="#">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->